
/* Colores */

$verde-logo: #a2bd00 ;
$blanco-nav: #ffffff;
$borde-nav: #4bc3f1;
$button: #a2bd00;

/* Section */
/* Colores */
$color-titulo: #613cf7;
$color-texto: #828282;

/* Footer */
$color-footer: #613cf7;

/* Degradado */
$degradado-header: linear-gradient(140deg, #EC0CB0 #2553D2);