@import './variables';
@import './header';

.header {
    background: $degradado-header;

    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__ul-img {
        margin-left: 44px;
        margin-top: 21px;
    }


    & label {
        color: white;
    }

    .header__ul-texto {
        display: flex;
        margin-left: 50px;
        margin-top: 21px;
    }

    .header__li {
        list-style: none;
    }

    .header__a {
        color:  $blanco-nav;
        margin: 10px 10px;
        text-decoration: none;
    }

    .header__ul-login {
        margin-top: 21px;
        margin-right: 41px;
    }

    .header__div-contenedor {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        margin-left: 60px;
        margin-top: 38px;  
    }

    .header__h1-texto {
        color: white;
       
    }

    .header__p-texto {
        height: 100px;
        width: 30%;
        color: white;
    }

    .header__button {
        background-color: $button;
        width: 100px;
        height: 30px;
        margin-left: 60px;
        padding: 10px;
        border-radius: 15px;
        border: none;
        color: white;
    }

    .header__div-contenedor-ti {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
    }


    .header__img { 
        width: 200px;
        height: 215px;
    }

}