@import './variables';
@import './header';

.header {
   /*background: $degradado-header;*/
   background-color: aqua;

    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__ul-texto {
        display: flex;
    }

    .header__li {
        display: flex;
        list-style: none;
    }

    .header__a {
        display: flex;
        
        color:  $blanco-nav;
        margin: 10px 10px;
        text-decoration: none;
    }

   
}